<h2>Cards</h2>

{{#linkTo "new_card"}}New Card{{/linkTo}}

<table>
  <thead>
    <th>english_word</th>
    <th>spanish_word</th>
    <th>image_url</th>
  </thead>
  <tbody>
    {{#each card in controller}}
    <tr>
      <td>{{card.english_word}}</td>
      <td>{{card.spanish_word}}</td>
      <td>{{card.image_url}}</td>
      <td>{{#linkTo "card" card}}view{{/linkTo}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>


